@font-face {
    font-family: 'BwNistaInt-xBd';
    src: url('../../assets/fonts/BwNistaInt-xBd.woff') format('woff');
    font-weight: normal;
}

body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

p, .paragraph {
    font-weight: 400;
    line-height: 1.8;
    &-lg{
        font-size: 22px;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $dark;
    font-family: $secondary-font;
    line-height: 1.2;
}
  
.content {
    * {
        margin-bottom: 20px;
    }

    blockquote {
        display: inline-block;
        padding: 10px 20px;
        background: $gray-400;
        border-left: 2px solid $primary;
        font-style: italic;
        font-size: 22px;
    
        p {
            margin-bottom: 0;
            font-size: inherit;
            line-height: inherit;
        }
    }
  
    strong {
        font-family: $secondary-font;
        font-size: 22px;
        font-weight: normal;
        color: $dark;
        display: inherit;
        line-height: 1.5;
    }
}