@font-face {
    font-family: 'BwNistaInt-xBd';
    src: url('../../assets/fonts/BwNistaInt-xBd.woff') format('woff');
    font-weight: normal;
}

body {
    line-height: 1.2;
    font-family: $primary-font;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: $text-color;
}

p, .paragraph {
    font-weight: 400;
    color: $text-color;
    font-size: 15px;
    line-height: 1.8;
    font-family: $primary-font;
    &-lg{
        font-size: 22px;
    }
}

h1,h2,h3,h4,h5,h6 {
    color: $text-color-dark;
    font-family: $secondary-font;
    line-height: 1.2;
}

h1, .h1{
    font-size: 80px;
    @include media-breakpoint-down(lg) {
        font-size: 65px;
    }
}

h2, .h2{
    font-size: 60px;
    @include media-breakpoint-down(lg) {
        font-size: 50px;
    }
}

h3, .h3{
    font-size: 40px;
}

h4, .h4{
    font-size: 22px;
}

h5, .h5{
    font-size: 18px;
}

h6, .h6{
    font-size: 14px;
}
  
.content {
    * {
        margin-bottom: 20px;
    }

    blockquote {
        display: inline-block;
        padding: 10px 20px;
        background: $gray;
        border-left: 2px solid $primary-color;
        font-style: italic;
        font-size: 22px;
    
        p {
            margin-bottom: 0;
            font-size: inherit;
            line-height: inherit;
        }
    }
  
    strong {
        font-family: $secondary-font;
        font-size: 22px;
        font-weight: normal;
        color: $text-color-dark;
        display: inherit;
        line-height: 1.5;
    }
}