@import '../variables';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.header-component {
    @include media-breakpoint-down(lg) {
        padding: 140px 0 70px;
        text-align: center;

        img {
            display: none;
        }
    }

    padding: 250px 0 150px;

    .container {
        position: relative;
        z-index: 1;
    }

    #header-bg-shape-1 {
        left: 0;
        bottom: 0;
        width: 100%;
    }

    #header-bg-shape-2 {
        left: -20px;
        top: -10px;
    }

    #header-bg-shape-3 {
        left: 10%;
        top: 100px;
    }

    #header-bg-shape-4 {
        left: 50%;
        top: -20px;
    }

    #header-bg-shape-5 {
        left: 90px;
        bottom: -50px;
        transform: rotate(180deg);
    }

    #header-bg-shape-6 {
        right: 20%;
        bottom: -20px;
    }

    #header-bg-shape-7 {
        right: -220px;
        bottom: -100px;
    }
}